* {
    margin: 0;
}

body {
    height: 200vh;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "main"
    "footer";
}

/* aca empiezan los estilos del header */

header {
    height: 15vh;
    background-image: linear-gradient(to bottom, rgb(76, 74, 74), rgb(128, 117, 117), rgb(175, 172, 172));
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content:space-around;
    padding-top: 20px; 
}    

li a { 
    list-style: none;
    color: rgb(255, 255, 255);
    background-color: rgb(63, 194, 203);
    text-decoration: none;
    font-weight: 800;
    border-radius: 6px;
}

li {
    display: inline-block;
    position: relative;
    font-size: 20px;
}

ul ul {
    position: absolute;
    display: none;
}
ul li:hover ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 0;
}

.titulo {
    font-size: larger;
    color: rgb(255, 255, 255); 
}

.titulo__sub {
    color: rgb(255, 255, 255);
    font-style: italic;
}

.menu {
    grid-area: menu;
}

.menu__desplegable {
    text-align:left;
}

/* aca terminan los estilos del header */ 

/* aca empiezan los estilos del main en general */
main {
    height: 170vh;
    grid-area: main;
}

h3 {
    font-size: 2rem;
    text-decoration: underline;
    text-align: center;
}

/*  aca terminan los estilos del main en general*/

/* MAIN INDEX */

.datos {
    height: 15vh;
    background-image: linear-gradient(to top, rgb(76, 74, 74), rgb(128, 117, 117), rgb(175, 172, 172));
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; 
    font-weight: 900;
    text-decoration: none;
}

.datos__titulo {
    color: rgb(255, 255, 255);
}

.datos__info {
    color: rgb(63, 194, 203);
    font-size: large;
}

#imagen__index {
    height: 85vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

#imagenLab {
    height: 50vh;
    display: flex;
    justify-content:space-evenly;
    align-items:stretch;
    padding-top: 80px;
}

#nuestros_trabajos {
	position: relative;
	display: block;
	padding: 25px;
	border-radius: 6px;
	text-align: center;
    font-size: 20px;
	font-weight: bold;
	height: 20px;
	overflow: hidden;
	color:rgba(255,255,255,1);
	cursor: pointer;
	box-shadow:inset 0 0 0 1px rgba(0,0,0,0.1);
	text-decoration: none;
	transition: all ease 0.5s;
	background:rgb(63, 194, 203);
}

#nuestros_trabajos:after,
#nuestros_trabajos:before{
	width: 80px;
	height: 200px;
	content: '';
	display: block;
	background: rgba(255,255,255,0.5);
	transform: rotate(45deg);
	top: -60px;
	position: absolute;
	transition: none;
	right:-45%;
	cursor: pointer;
}
 
#nuestros_trabajos:before{
	left: -48%;
}
 
#nuestros_trabajos:hover{
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
	background:rgb(63, 194, 203);
}
 
#nuestros_trabajos:hover:after,
#nuestros_trabajos:hover:before{
	transform: rotate(45deg), scaleX(130%);
	background: rgba(255,255,255,0.1);
	transition: all ease 0.5s;
}
 
#nuestros_trabajos:hover:after{
	right: 130%;
}
 
#nuestros_trabajos:hover:before{
	left: 130%;
}

/* aca empiezan los estilos del footer */

.footer {
    grid-area: footer;
    background-image: linear-gradient(to top, rgb(76, 74, 74), rgb(128, 117, 117), rgb(175, 172, 172));
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    "foodat redsocial cv";
    height: 10vh;
    color: rgb(255, 255, 255);
    font-weight: 900;
    padding: 10px 0px 0px 20px;
}

.footer__datos {
    grid-area: foodat;
}

.redsocial {
    grid-area: redsocial;
}

.cv {
    grid-area: cv;  
}

.cv:hover {
    filter: opacity(.5);
    transition: 2s;
}

/* aca terminan los estilos del footer */

/* TIPOS DE PROTESIS */

#altoMain {
    height: 280vh;
}

.imagenProtesis img {
    height: 50vh;
    width: 30vw;
    padding-left: 200px;
}

#cromo, #fija, #flexible, #acrilico{
    color: rgb(0, 0, 0);
    font-style: italic;
}

table {
    background-color: rgb(65, 64, 64);
    width: 50%;
    text-align: center;
    margin: 20px 400px;
}

table th {
    background-color: rgb(63, 194, 203);
    color: rgb(65, 64, 64);
}

td {
    background-color: rgb(63, 194, 203);
    color: rgb(255, 255, 255);
} 

/* CONTACTO */

#contacto {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    background-image: url(../assets/images/contactenos2.jpg);
}

#contacto__box {
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 30vw;
    margin: 80px;
    display: flex;
    flex-direction: column;
}

.datos__contacto {
    margin: 10px;
    background-color: rgb(128, 117, 117);
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nombre {
    margin: 10px;
    padding: 2px;
    background-color: rgb(128, 117, 117);
    color: rgb(255, 255, 255);
}

#nombre__input {
    display: inline;
    position: relative;
    left: 158px;
}

#apellido {
    margin: 10px;
    padding: 2px;
    background-color: rgb(128, 117, 117);
    color: rgb(255, 255, 255);
}

#apellido__input {
    display: inline;
    position: relative;
    left: 155px;
}

#mail {
    margin: 10px;
    padding: 2px;
    background-color: rgb(128, 117, 117);
    color: rgb(255, 255, 255);
}

#mail__input {
    display: inline;
    position: relative;
    left: 238px;
}
#comentarios {
    color: rgb(65, 64, 64);
    font-size: 25px;
    display: block;
    position: relative;
    left: 10px;
}

#enviar {
    display: block;
    position: relative;
    left: 10px;
    bottom: 5px;
}

@media (max-width: 320px) { 
    #header_cv {
        height: fit-content;}
    #main_cv {
        height: fit-content;}     
     }
@media (max-width: 480px) { 
    #header_cv {
        height: fit-content;}
    #main_cv {
        height: fit-content;}     
     }
@media (max-width: 600px) { 
    #header_cv {
        height: fit-content;}
    #main_cv {
        height: fit-content;}       
     }
@media (max-width: 768px) { 
    #header_cv {
        height: fit-content;}
    #main_cv {
        height: fit-content;}
  
     }
@media (max-width: 1024px) { 
    #header_cv {
        height: fit-content;}
    #main_cv {
        height: fit-content;} 
     }
@media (max-width: 1200px) {
    #header_cv {
        height: fit-content;}
    #main_cv {
        height: fit-content;}
     }
@media (max-width: 1920px) {
    #header_cv {
        height: fit-content;}
    #main_cv {
        height: fit-content;}   
     }     
